.catalog
    position: relative
    &-item
        position: relative
        display: inline-block
        text-decoration: none !important
        background: #FFFFFF
        border: 1px solid #DFC3C7
        padding: 18px 14px
        height: 100%
        width: 100%
        overflow: hidden
        &:hover
            box-shadow: 0px 1px 7px rgba(175, 125, 128, 0.4)
        &__image
            position: relative
            display: block
            margin-left: -15px
            margin-top: -19px
            width: calc(100% + 30px)
            // height: calc(100% + 38px)
            height: 155px
            background-position: center center
            background-repeat: no-repeat
            background-size: cover
            outline: none
            @media screen and ( max-width: 767px )
                height: 125px
       
        &__name
            position: relative
            white-space: nowrap
            &::after
                content: ''
                position: absolute
                top: 0
                bottom: 0
                right: -14px
                width: 20px
                height: 20px
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
        &__price
            position: relative
            z-index: 1
            display: flex
            align-items: center
            justify-content: space-between
        
        &__basket
            position: absolute
            z-index: 100
            display: flex
            align-items: center
            justify-content: center
            right: 14px
            top: 95px
            width: 40px
            height: 40px
            padding: 5px 7px 6px 7px
            border-radius: 100%
            background: #FFFFFF
            box-shadow: 0px 1px 7px rgba(175, 125, 128, 0.4)
            cursor: pointer
            @media screen and ( max-width: 767px )
                top: 65px
            & .icon.basket
                // margin-bottom: 0
            &:hover
                background: #FFFFFF
                box-shadow: 0px 0px 7px rgba(175, 125, 128, 0.25)
                & .icon.basket
                    background-image: url(../images/basket-hover.svg)
            &.active
                & .icon.basket
                    height: 27px
                    background-image: url(../images/basket-focus.svg)

        &__discount
            padding: 3px 8px 2px
            background: #FFE3E3
            border-radius: 2px
            color: #E32E2E
                
        &.active
            & .catalog-item__image
                & img
                    opacity: 0
            & .catalog-item__bg
                display: block
        
        &__bg
            display: none
            position: absolute
            top: 0
            bottom: 0
            right: 0
            left: 0
            height: 100%
            width: 100%
            & img
                height: 100%
            &::after
                content: ''
                position: absolute
                top: 0
                bottom: 0
                right: 0
                left: 0
                background: #552225
                opacity: 0.6
                
    &-information
        position: relative
        background: #EAEAEA
        padding: 30px
    &-link
        position: relative
        background: #FFFFFF
        height: 100%
        &__image
            position: relative
            min-height: 230px
            height: 100%
            background-position: center center
            background-size: cover
            background-repeat: no-repeat
            &::after
                content: ''
                position: absolute
                z-index: 0
                top: 0
                bottom: 0
                right: 0
                left: 0
                background: #000000
                opacity: 0.6
            &:hover
                &::after
                    background: #552225
                    opacity: 1
        &__content
            position: absolute
            z-index: 1
            top: 0
            bottom: 0
            right: 0
            left: 0
            padding: 20px
            @media screen and ( max-width: 767px )
                padding: 10px
        &__text
            position: relative
            display: flex
            justify-content: center
            align-items: center
            &.border-right-0
                &::after
                    display: none
            &::after
                content: ''
                position: absolute
                right: -10px
                border-right: 1px solid #E4DED5
                height: 100%
                @media screen and ( max-width: 991px )
                    right: -5px
        @media screen and ( max-width: 767px )
            // display: flex
            // justify-content: space-between
            &__text
                text-align: center
                flex-direction: column
                // width: 50%
                &::after
                    display: none

    &__list
        &-item
            position: relative
            height: 100%
            padding-left: 20px
            border-left: 1px solid #DFC3C7
            @media screen and ( max-width: 767px )
                padding-left: 0
                border-left: 0
                