.filter
    background: #F7F7F7
    &-button
        display: flex
        align-items: center
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 22px
        color: #333333
        padding: 20px
        width: 100%
        border: 0
        background: transparent
        &::before
            content: ''
            margin-right: 10px
            width: 20px
            height: 20px
            background-size: contain
            background-position: center center
            background-repeat: no-repeat
            background-image: url(../images/filter-button-arrow.svg)
            transform: scale(1, -1)
        &:focus
            outline: none
        &[aria-expanded="true"]
            &::before
                transform: scale(1, 1)
    &-block
        position: relative
        padding: 10px 20px 10px 20px
        background: #F7F7F7
    &-item
        position: relative
        cursor: pointer
        padding-right: 20px
        margin-right: 20px
        color: #7C7C7C
        &.up
            &::after
                transform: scale(1,1)
        &.down
            &::after
                transform: scale(1,-1)
        &.active
            color: #333333
            &::after
                content: ''
                position: absolute
                bottom: 7px
                right: 2px
                width: 10px
                height: 5px
                background-position: center center
                background-repeat: no-repeat
                background-size: contain
                background-image: url(../images/filter-item-arrow.svg)
    &-display
        &__item
            position: relative
            padding: 4px
            background: #FFFFFF
            border: 1px solid #DFC3C7
            border-radius: 3px
    &-fixed
        position: relative
        padding: 15px 0
        background: #F6F6F6
        border-bottom: 1px solid #DFC3C7
        &__button
            
        &__content
            display: none
            position: absolute
            z-index: 999
            top: 71px
            right: 0
            left: 0
            background: #F7F7F7
            padding-bottom: 25px
            &.active
                display: block
            &-item
                position: relative
                width: 100%
                padding: 20px 0
                border-bottom: 1px solid #DFC3C7
                &:last-child
                    border-bottom: 0
                    padding-bottom: 0
        
        &__close
            position: absolute
            z-index: 100
            right: 0
            top: 0