.filter
    background: #F7F7F7
    &-button
        display: flex
        align-items: center
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 22px
        color: #333333
        padding: 20px
        width: 100%
        border: 0
        background: transparent
        &::before
            content: ''
            margin-right: 10px
            width: 20px
            height: 20px
            background-size: contain
            background-position: center center
            background-repeat: no-repeat
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJDSURBVHgBpVRPbxJREJ+3kIIgBfFPQuJhSQxX24TEGBOUT1DPnOgF7nwB2juhXuEiJ67WTyCFFmoE2qrRg+JiTAOlTbuUf0th9znvNTUFl7bQX/L2TWbm/d7svJkhoAPpw45DM3SCAjG+BEoXgIB4biG7+KmqVH3/xPcipXeWjCt+ZvOvDQTemu12x91HD8HsmAejycRtZ50unLU70D0+wXVcVTVtdRLxeWTZ7bU/n8q0JzfpdRj0FMp8pVwhqkv2O/cxul/eo+pgQG8K5rtf/kylzfza2G9uBdlt05BdJuWRYqr+5VDaLEiPvYviRa6mhdI8hfqX7zIMTW6BRWdxOmcmYzDb53HZsDJ6QaOBGJYs9+9NdG61WhCPx7kciUTAZrPp+rGKwMd8JQBo4pzVqutUq9UgHA5DqVSCYrHIZaabFCURyFMkJAtzVosuWSgU4nIikYBkMsmjnURqNGPKKIiC3m0sokAgAF6vl5O5XC6+0uk0eDwebstkMqALKVuQBooyUgpIwtckMFssFhvR9dttLPL8Dki57Xetgwa9LVr1Bv2Vza8LQLWN9sEh3BbY21jUBAnVfkppNmVWnLNiqPShe3RSdfuepwS33y/j6ywf/aiANhzCtGBn6l+/MXF1xFDJ5d/MNhz2aCW3taJ7G46iFdbo46+uBzbimC8L5DLHfwMWyyiIW9TywCmylmRddFH4w34fFPkU2o1D3JsygGHZ7Xu2fiXhCDGhSyiKrJu4kkIVdbu4b4B6J+X2L8rj5/4C1dNtBoWWrJ0AAAAASUVORK5CYII=)
            transform: scale(1, -1)
        &:focus
            outline: none
        &[aria-expanded="true"]
            &::before
                transform: scale(1, 1)
    &-block
        position: relative
        padding: 10px 20px 10px 20px
        background: #F7F7F7
    &-item
        position: relative
        cursor: pointer
        padding-right: 20px
        margin-right: 20px
        color: #7C7C7C
        &.up
            &::after
                transform: scale(1,1)
        &.down
            &::after
                transform: scale(1,-1)
        &.active
            color: #333333
            &::after
                content: ''
                position: absolute
                bottom: 7px
                right: 2px
                width: 10px
                height: 5px
                background-position: center center
                background-repeat: no-repeat
                background-size: contain
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACESURBVHgBbY5hDYAgEIU5IAARjMAPAmgEI9hAG9jACEZwJrAAP4hgBAoAvmNj44e33fZ47+PuSHRlrTVSyoOIREppCyHEllEHDVrrK+dsakAUAc+AX37LBimlnlKKADhxQxv2OKsfIUYYF/SNCWtbx2fAPyFH9ELOuZ0D7/0ufopznv4Bk702iXjX5JsAAAAASUVORK5CYII=)
    &-display
        &__item
            position: relative
            padding: 4px
            background: #FFFFFF
            border: 1px solid #DFC3C7
            border-radius: 3px
    &-fixed
        position: relative
        padding: 15px 0
        background: #F6F6F6
        border-bottom: 1px solid #DFC3C7