.footer
    position: relative
    padding: 30px 0
    height: 334px
    background: #333333
    @media screen and ( max-width: 991px )
        height: 354px
    @media screen and ( max-width: 767px )
        height: 630px
    @media screen and ( max-width: 424px )
        height: 650px