.header
    background: #FFFFFF
    padding: 10px 0
    &-nav
        background: #F8F8F8
        padding: 20px 0
    &-link
        &__item
            font-family: Ubuntu
            font-style: normal
            font-weight: 500
            font-size: 14px
            line-height: 12px
            letter-spacing: 0.045em
            color: $gray-50
            margin-right: 15px
            &:last-child
                margin-right: 0
            &:hover, &.active
                color: $gray-100
                text-decoration: underline
    &-logo
        margin-right: 25px
        img
            width: auto
    &-search
        position: relative
        margin-right: 40px
    &-phone
        position: relative
        margin-right: 15px
    &-profile
        position: relative
        margin-right: 20px
    &-basket
        position: relative
        // margin-right: 40px