.slider
    &-title
        position: absolute
        top: 0
        bottom: 0
        left: 50px
        height: 136px
        margin: auto
        z-index: 100
        display: flex
        flex-direction: column
        justify-content: center
    &-block
        position: relative
        // position: absolute
        // top: 0