<div class="calculator">
    <div class="calculator-title">
        <span class="text m white bold text-uppercase">онлайн - калькулятор продукции</span>
        <i class="icon arrow-up"></i>
    </div>
    <div class="calculator-wrapper">
        <div class="calculator-content">
            <div class="calculator-content__item mb__20">
                <div class="text xl gray-100 bold mb__10">Газосиликат</div>
                <div class="row row-cols-2">
                    <div class="col-7">
                        <div class="d-flex align-items-center justify-content-between mb__10">
                            <div class="text m montserrat gray-100 mr__10">Параметры:</div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>588 х 288 х 100</option>
                                <option>588 х 288 х 80</option>
                                <option>588 х 288 х 60</option>
                                <option>588 х 288 х 40</option>
                                <option>588 х 288 х 20</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb__10">
                            <div class="text m montserrat gray-100 mr__10">Плотность:</div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>D500</option>
                                <option>D400</option>
                                <option>D300</option>
                                <option>D200</option>
                                <option>D100</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="text m montserrat gray-100 mr__10">Запас на бой и обрезки:</div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>5%</option>
                                <option>10%</option>
                                <option>15%</option>
                                <option>20%</option>
                                <option>25%</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="calculator-content__image">
                            <img src="../images/calculator1-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="calculator-content__item mb__20">
                <div class="text xl gray-100 bold mb__10">Параметры стен</div>
                <div class="row row-cols-2">
                    <div class="col-7">
                        <div class="d-flex align-items-center justify-content-between mb__10">
                            <div class="text m montserrat gray-100 mr__10">Общая длина всех стен:</div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>10 м2</option>
                                <option>15 м2</option>
                                <option>20 м2</option>
                                <option>25 м2</option>
                                <option>30 м2</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb__10">
                            <div class="text m montserrat gray-100 mr__10">Высота:</div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>3 м2</option>
                                <option>4 м2</option>
                                <option>5 м2</option>
                                <option>6 м2</option>
                                <option>7 м2</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="text m montserrat gray-100 mr__10">Раствор в кладке:</div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>УЦМ Блок</option>
                                <option>УЦМ Блок 2</option>
                                <option>УЦМ Блок 3</option>
                                <option>УЦМ Блок 4</option>
                                <option>УЦМ Блок 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="calculator-content__image">
                            <img src="../images/calculator1-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="calculator-content__item mb__20">
                <div class="row row-cols-2">
                    <div class="col-7">
                        <div class="button contour w-100 text-uppercase">рассчитать</div>
                    </div>
                </div>
            </div>
            <div class="calculator-content__item mb__20">
                <div class="row row-cols-2">
                    <div class="col-7">
                        <div class="d-flex align-items-center justify-content-between mb__15">
                            <div class="text xxl black montserrat-bold">Итого:</div>
                            <div class="text xxxl black montserrat-bold">30 990 руб.</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb__10">
                            <div class="text m montserrat gray-100 mr__10">Доставка:</div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Есть</option>
                                <option>Нет</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb__20">
                            <div class="text m montserrat gray-100 mr__10">Адрес доставки</div>
                            <input type="text" class="form-control contour" placeholder="ул. Чайковского 3" required="">
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="button red text-uppercase text m ubuntu-500 w-100 mr__10">Заказать</div>
                            <div class="button download"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>