<nav class="header-nav">
    <div class="container-lg container-fluid">
        <div class="row">
            <div class="col-12">
                <ul class="header-link">
                    <li class="header-link__item active">
                        <a class="link" href="index.html" >Главная страница</a>
                    </li>
                    <li class="header-link__item dropdown">
                        <a class="link" href="catalog.html" >Каталог продукции</a>
                        <ul class="dropdown-content">
                            <li><a href="catalog__silicate.html">Силикатный кирпич</a></li>
                            <li><a href="catalog__gassilicate.html">Газосиликат</a></li>
                            <li><a href="catalog__other.html">Прочее</a></li>
                        </ul>
                    </li>
                    <li class="header-link__item dropdown">
                        <a class="link" href="stocks.html" >Акции</a>
                        <ul class="dropdown-content">
                            <li><a href="">Скидки на продукцию</a></li>
                            <li><a href="wholesale__discount.html">Оптовикам</a></li>
                            <li><a href="bonus__system.html">Ретро-бонусы</a></li>
                        </ul>
                    </li>
                    <li class="header-link__item dropdown">
                        <a class="link" href="about.html" >О компании</a>
                        <ul class="dropdown-content">
                            <li><a href="vacancies.html">Вакансии</a></li>
                        </ul>
                    </li>
                    <li class="header-link__item">
                        <a class="link" href="delivery.html" >Доставка</a>
                    </li>
                    <li class="header-link__item">
                        <a class="link" href="product__gallery.html" >Галерея</a>
                    </li>
                    <li class="header-link__item">
                        <a class="link" href="contacts.html" >Контакты</a>
                    </li>
                    <li class="header-link__item">
                        <a class="link" href="faq.html" >Частые вопросы</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <nav class="navbar navbar-expand-lg navbar-dark d-lg-none d-md-block">
                    <button class="navbar-toggler menu" type="button" data-toggler="colapse" data-target="#navbarSupportContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <button class="navbar-toggler d-lg-none d-md-none d-sm-block" type="button" data-toggler="colapse" data-target="#navbarSupportContent">
                        <span class="icon search red"></span>
                    </button>
                </nav>
                <a href="index.html" class="header-logo">
                    <img src="images/image1-1.svg" alt="">
                </a>
                <div class="header-search d-lg-block d-md-block d-none w-md-100 mr__20">
                    <input class="form-control gray" type="text" placeholder="Поиск">
                    <i class="icon search cursor-pointer"></i>
                </div>
                <div class="align-items-center ml-auto d-lg-flex d-none">
                    <a href="tel:+78452393315" class="header-phone mr__35 gray-100 align-items-center d-flex align-items-center">
                        <i class="icon phone mr__10"></i>
                        <div class="text montserrat">+7 (8452) <span class="text montserrat-bold">39-33-15</span></div>
                    </a>
                    <a href="https://vk.com/szsm_saratov" target="_blank" class="mr__15">
                        <i class="icon vk-header"></i>
                    </a>
                    <a href="https://www.facebook.com/%D0%A1%D0%B0%D1%80%D0%B0%D1%82%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9-%D0%B7%D0%B0%D0%B2%D0%BE%D0%B4-%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D0%BE%D0%B2-%D0%A1%D0%97%D0%A1%D0%9C-107631354325578" target="_blank" class="mr__15">
                        <i class="icon facebook-header"></i>
                    </a>
                    <a href="https://www.instagram.com/szsm_slav/" target="_blank">
                        <i class="icon inst"></i>
                    </a>
                </div>
                <div class="d-flex ml-sm__15 ml-auto align-items-center">
                    <a href="#" data-toggle="modal" data-target="#registration" class="header-profile gray-100 d-flex flex-column justify-content-between align-items-center">
                        <i class="icon profile mb-sm__0"></i>
                        <div class="text montserrat d-lg-block d-md-block d-sm-none d-none">Профиль</div>
                    </a>
                    <a href="basket__empty.html" class="header-basket gray-100 d-flex flex-column justify-content-between align-items-center">
                        <i class="icon basket mb-sm__0"></i>
                        <div class="text montserrat d-lg-block d-md-block d-sm-none d-none">Корзина</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="header-contacts d-lg-none d-block">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center">
                    <a href="https://vk.com/szsm_saratov" target="_blank" class="mr__15">
                        <i class="icon vk-header"></i>
                    </a>
                    <a href="https://www.facebook.com/%D0%A1%D0%B0%D1%80%D0%B0%D1%82%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9-%D0%B7%D0%B0%D0%B2%D0%BE%D0%B4-%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D0%BE%D0%B2-%D0%A1%D0%97%D0%A1%D0%9C-107631354325578" target="_blank" class="mr__15">
                        <i class="icon facebook-header"></i>
                    </a>
                    <a href="https://www.instagram.com/szsm_slav/" target="_blank">
                        <i class="icon inst"></i>
                    </a>
                    <a href="tel:+78452393315" class="header-phone gray-2 d-flex align-items-center ml-auto">
                        <div class="text montserrat">+7 (8452) <span class="text montserrat-bold">39-33-15</span></div>
                        <i class="icon phone ml__10"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Modal -->
 <div class="modal registration fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registrationLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-md">
     <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body text-center">
             <div class="mb__25 text-center">
                 <div class="text xxl montserrat-bold gray-100">Вход или регистрация</div>
             </div>
             <div class="row">
                <div class="col-2 d-lg-block d-md-block d-sm-none d-none"></div>
                <div class="col">
                    <div class="mb__20">
                        <div class="form-group custom">
                           <input type="email" class="form-control border-secondary" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Адрес электронной почты">
                         </div>
                    </div>
                     <div class="mb__30">
                         <div class="button contour medium text m ubuntu-500 burgundy-50 text-uppercase w-100" data-toggle="modal" data-target="#code">получить код</div>
                     </div>
                </div>
                <div class="col-2 d-lg-block d-md-block d-sm-none d-none"></div>
            </div>
              <div class="mb__20">
                  <div class="text m ubuntu gray-50">Войти через соц. сеть</div>
              </div>
              <div class="mb__40">
                  <a class="mr__25 text-decoration-none" href="">
                      <i class="icon google "></i>
                  </a>
                  <a class="mr__25 text-decoration-none" href="https://www.facebook.com/%D0%A1%D0%B0%D1%80%D0%B0%D1%82%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9-%D0%B7%D0%B0%D0%B2%D0%BE%D0%B4-%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D0%BE%D0%B2-%D0%A1%D0%97%D0%A1%D0%9C-107631354325578" target="_blank">
                      <i class="icon facebook "></i>
                  </a>
                  <a class=" text-decoration-none" href="https://vk.com/szsm_saratov" target="_blank">
                      <i class="icon vk"></i>
                  </a>
              </div>
              <div >
                  <a href="#" class="link red text m ubuntu">Войти в аккаунт как Агент</a>
              </div>
         </div>
     </div>
 </div>
</div>

 <!-- Modal -->
 <div class="modal code fade" id="code" tabindex="-1" role="dialog" aria-labelledby="codeLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-md">
     <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body ">
             <div class="mb__25 text-center">
                 <div class="text xxl montserrat-bold gray-100">Введите код</div>
             </div>
             <div class="row">
                <div class="col-1 d-lg-block d-md-block d-sm-none d-none"></div>
                <div class="col">
                    <div class="mb__25">
                        <div class="mb__10">
                            <div class="text m ubuntu gray-100">Мы отправили код на почту semenfam@gmail.com</div>
                        </div>
                        <div >
                            <a href="#" class="link red text m ubuntu">Изменить</a>
                        </div>
                    </div>
                    <div class="mb__10 form-group custom code d-flex align-items-center justify-content-between">
                        <input type="text" class="form-control" id="code1" aria-describedby="code" placeholder="" maxlength="1" >
                        <input type="text" class="form-control" id="code2" aria-describedby="code" placeholder="" maxlength="1" >
                        <input type="text" class="form-control" id="code3" aria-describedby="code" placeholder="" maxlength="1" >
                        <input type="text" class="form-control" id="code4" aria-describedby="code" placeholder="" maxlength="1" >
                    </div>
                    <div class="text m gray-50 montserrat-normal text-center mb__15">
                        Получить новый код можно серез 00:14
                    </div>
                    <div class="mb__30">
                        <div class="button red medium text m ubuntu-500 white text-uppercase w-100">получить код</div>
                    </div>
                </div>
                <div class="col-1 d-lg-block d-md-block d-sm-none d-none"></div>
            </div>
            <div class="row text-center">
                <div class="col-1 d-lg-block d-md-block d-sm-none d-none"></div>
                <div class="col">
                    <div class="mb__15">
                        <a href="#" class="link red text m ubuntu">Войти по почте</a>
                    </div>
                    <div >
                        <a href="#" class="link red text m ubuntu">Создать аккаунт как агент</a>
                    </div>
                </div>
                <div class="col-1 d-lg-block d-md-block d-sm-none d-none"></div>
            </div>
         </div>
     </div>
 </div>
</div>