.button
    display: inline-block
    padding: 10px 30px
    border-radius: 5px
    font-family: $ubuntu
    font-style: normal
    font-weight: 500
    cursor: pointer
    text-align: center
    min-height: 40px
    text-decoration: none !important
    &.medium
        min-height: auto
        min-height: 35px
        padding: 7px 26px
    
    &:hover
        & i
            position: relative
            right: -5px
            &.repeat
                transition: all .3s
                right: 0
    
    &.red
        color: #FFFFFF
        background: #552225
        backdrop-filter: blur(24px)
        &:hover
            background: #4B1D20
            text-decoration: none
    
    &.pink
        color: #FFFFFF
        background: #824C4F
        backdrop-filter: blur(24px)
        &:hover
            background: #552225
            text-decoration: none
    
    &.contour
        background: #FFFFFF
        border: 1px solid #AF7D80
        color: #AF7D80
        &:hover
            box-shadow: 0px 1px 7px rgba(175, 125, 128, 0.4)
    
    &.download
        background: #EAEAEA
        border-radius: 8px
        padding: 10px 16px
        &:hover
            background: #DDDDDD
            text-decoration: none
            box-shadow: 0px 4px 7px rgba(175, 125, 128, 0.25) !important
        &::after
            content: ''
            display: block
            margin: auto
            width: 16px
            height: 17px
           	background-image: url(../images/download.svg)
            background-position: center center
            background-size: contain
            background-repeat: no-repeat
    
    &.photo
        background: #EAEAEA
        border-radius: 8px
        padding: 5px 11px 8px 10px
        &:hover
            background: #DDDDDD
            text-decoration: none
        &::after
            content: ''
            display: block
            margin: auto
            width: 27px
            height: 25px
            background-image: url(../images/photo.svg)
            background-position: center center
            background-size: contain
            background-repeat: no-repeat