.button
    display: inline-block
    padding: 10px 45px
    border-radius: 5px
    font-family: $ubuntu
    font-style: normal
    font-weight: 500
    cursor: pointer
    text-align: center
    &.red
        color: #FFFFFF
        background: #552225
        backdrop-filter: blur(24px)
        &:hover
            background: #4B1D20
            text-decoration: none
    &.contour
        color: #552225
        
