.button
    display: inline-block
    padding: 10px 30px
    border-radius: 5px
    font-family: $ubuntu
    font-style: normal
    font-weight: 500
    cursor: pointer
    text-align: center
    min-height: 40px
    text-decoration: none !important
    &.medium
        min-height: auto
        min-height: 35px
        padding: 6px 26px
    
    &:hover
        & i
            position: relative
            right: -5px
            &.repeat
                transition: all .3s
                right: 0
    
    &.red
        color: #FFFFFF
        background: #552225
        backdrop-filter: blur(24px)
        &:hover
            background: #4B1D20
            text-decoration: none
    
    &.pink
        color: #FFFFFF
        background: #824C4F
        backdrop-filter: blur(24px)
        &:hover
            background: #552225
            text-decoration: none
    
    &.contour
        background: #FFFFFF
        border: 1px solid #AF7D80
        color: #AF7D80
        &:hover
            box-shadow: 0px 1px 7px rgba(175, 125, 128, 0.4)
    
    &.download
        background: #EAEAEA
        border-radius: 8px
        padding: 10px 16px
        &:hover
            background: #DDDDDD
            text-decoration: none
            box-shadow: 0px 4px 7px rgba(175, 125, 128, 0.25) !important
        &::after
            content: ''
            display: block
            margin: auto
            width: 16px
            height: 17px
           	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAErSURBVHgB7ZIxTsMwGIX922SlTUuZTRoKohT1CIywJaIFRnoC4AQcAbaMFRtCQMsJSjc2ulABgsjdWGjDnMQ/9hCpS4saYONbLD/7PVu/HiNTqC8td9ayuUE/GIpJdyj5If8BvxHgcJ4lKUh81ACjtWuVTmYx7/NVrnydHV50KEPWUFpVl0al8u/MNW5vxjR+QMDza/HWphfiSVz6L64SugY1pobsWSuHQKGJEt0r//VMayw57I+Gd+VM/pNR1qyYBXgcfdyXzfyBOuqWsvNBJVfwEHErxHD7Rvi9xMfGX1Cd721kFm8lSG/dXNBD4sBgwAjzlPYcYdRoC/E+7gEyYUiSylMk6Oi9Wo+TL89EzbKP9NDIXwL1ot0iCFWSBkncuTCOdA9StVERfAGb8GkAu0MKoAAAAABJRU5ErkJggg==)
            background-position: center center
            background-size: contain
            background-repeat: no-repeat
    
    &.photo
        background: #EAEAEA
        border-radius: 8px
        padding: 5px 11px 8px 10px
        &:hover
            background: #DDDDDD
            text-decoration: none
        &::after
            content: ''
            display: block
            margin: auto
            width: 27px
            height: 25px
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAZCAYAAADAHFVeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJ1SURBVHgBvVZdkhIxEO4OTJVvznqCgItaPnED8QRCuay+rZ5AOIHsCdQTgG/WLlZxA7iBPFmW/GxOoOPzwMQvWYIDTlig2G2Kms4k1V8639fpIUrZSfG4VS+WNP5XdAsm6A7tTsG4LktvlgPBLzTpKtyIEmq69zHFg55S6rV8Iuc0r2QFSiiJvqpJbxNYHrm13QBAzg3T7wXn3uLRmdFMYkPtrEACv9Ni6ePFdNT0gR30GLHVxmnx0XvfPKcHRo1MbBary+moQDtYvVDqI1rFM61wzrWDZRbruIbUhp5piY2083Qgg4AiCKg216sC0siWmc4AVl4FS2ighRVJtCnwiTyugO0y3FAnegiFDo1av6gfCu866bVQuyHrzPhMO5iVPs/bWdyA69bF9Of5+ntbWgtlr2RWlTI0uzW+2el/QGLeJ3P+1+ayt+tRNi1IP9xa+nmRbwQiuMK/v74wBRQhcDNO4gIUe5RLcgVk1bsGpMZL+bDqA9tKIJYjlxFTszsZd9zcgqcapP/NiECweIdx78bMvCaWHKnLyaiTuUbTp8VmKgs6MsJsY5qlfWitvEvo35xgvr83mObEioGZy7414E06P9H6z95gnLDjIHxVfNxYn7fHJsjeicjedIhob7CuGg9wTgPjo5V8MICOFyOegINlSaArfPbF2fpuzGnbZpQDRHn8Np8QCG4uYHu84O3cK6BdwIzEUVPPiXWWrG3tdafj1qYYO13ErqbMbYLuXUbDDI0K0VSHPp62AQvTnwvrhovXdmZjRoUBBdJeuFkm6JlzV5snyLYc3Iah1+XS4+/RL/X06AHaj62ne3QgQzkMZ3pW+wuZlvCjf9JqHwAAAABJRU5ErkJggg==)
            background-position: center center
            background-size: contain
            background-repeat: no-repeat