.content
    min-height: calc(100vh - 334px)
    @media screen and ( max-width: 991px )
        min-height: calc(100vh - 354px)
    @media screen and ( max-width: 767px )
        min-height: calc(100vh - 630px)
    @media screen and ( max-width: 424px )
        min-height: calc(100vh - 650px)
    
.breadcrumb
    @media screen and ( max-width: 991px )
        display: none !important

.off-scroll
    overflow: hidden
    
.bg
    &__white
        background-color: #FFFFFF !important
    &__burgundy-50
        background-color: $burgundy-50 !important
    &__burgundy-25
        background-color: $burgundy-25 !important
    &__burgundy-75
        background-color: $burgundy-75 !important
    &__burgundy-100
        background-color: $burgundy-100 !important
    &__pink
        background-color: #FDF5F6 !important

.pb__100
    padding-bottom: 100px

.p__20
    padding: 20px

.border
    &-burgundy-25
        border-color: 1px solid $burgundy-25 !important
    @media screen and ( max-width: 767px )
        &-sm
            &__0
                border: 0

.map
    width: 100%
    height: 100%
    @media screen and ( max-width: 767px )
        position: relative
        left: -15px
        width: calc(100% + 30px)
        max-width: none !important

textarea.form-control.custom
    box-shadow: none
    border: 0   
    background: #F5F5F5
    border-radius: 5px
    padding: 15px 20px

button.close
    &:focus
        outline: none

.error
    color: #FF5065
    font-family: $ubuntu
    font-style: normal
    font-weight: 300
    font-size: 11px
    line-height: 13px
    text-transform: none


@media screen and ( max-width: 767px )
    .h-sm-auto
        height: auto !important
    .w-sm-auto
        width: auto !important
            
.sticky
    position: sticky !important
    top: 90px
    @media screen and ( max-width: 991px )
        position: relative !important
        top: 0
        
.top
    position: fixed
    z-index: 9999
    bottom: 30px
    left: 50px
    width: 50px
    height: 50px
    background: #552225
    border-radius: 50%
    cursor: pointer
    @media screen and ( max-width: 767px )
        display: none !important
        left: 30px
    &:hover
        box-shadow: 0px 1px 7px rgba(17, 17, 17, 0.4)
    &::before
        content: ''
        position: absolute
        top: -3px
        bottom: 0
        right: 0
        left: 0
        margin: auto
        width: 22px
        height: 13px
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        background-image: url(../images/scroll-top.svg)
