.bg
    &__white
        background: #FFFFFF !important
    &__burgundy-50
        background: $burgundy-50 !important
    &__burgundy-25
        background: $burgundy-25 !important
    &__pink
        background: #FDF5F6 !important

.pb__100
    padding-bottom: 100px