.link
    &:hover
        // & i
        //     position: relative
        //     right: -5px
    &.red
        color: #552225
        font-family: $ubuntu
        font-style: normal
        font-weight: 500
        text-decoration: none
        &:hover
            color: #824C4F
            & .arrow-right.red
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB3SURBVHgBrZGxCYBADEWTnIsINna3gb0I6ghuck7iCGdlrRNoKbiAU1w0Vodl9BEI+cUjIQBK+qpeXdnYOCNQwgE7MuxjoQEl87GfRZYvIpQucyLrIoBVGYGfImR/DynCB+REEQXG1k3jppa9RZKpH4DEQyz6nQvjqzA0iZGKIAAAAABJRU5ErkJggg==)
    &.white
        color: #FFFFFF
        font-family: $ubuntu
        font-style: normal
        font-weight: 500
        text-decoration: none
        &:hover
            color: #824C4F
            & .arrow-right
    &.black
        color: #000000
        font-family: $ubuntu
        font-style: normal
        font-weight: 500
        text-decoration: none
        &:hover
            color: #824C4F
            & .arrow-right
    &.gray
        color: #D5D5D5
        font-family: $ubuntu
        font-style: normal
        font-weight: normal
        text-decoration: none
        &:hover
            
